Source: libtertiusqbit-application-model-sendmail-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libmime-lite-perl, libtemplate-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-sendmail-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libmime-lite-perl, libtemplate-perl
Conflicts: libqbit-application-model-sendmail-perl
Replaces: libqbit-application-model-sendmail-perl
Description: Class to send E-Mail.
 Class to send E-Mail.
